body{
    background-color: rgb(1, 119, 119);
}
div.main_title{
    color: white;
    text-align: center;
}
div.instruction{
    text-align: center;
}
p.instruction__1{
    color: yellow;
}
p.instruction__2{
    color: rgb(118, 189, 118);
}
p.instruction__3{
    color: black;
}
div.task{
    text-align: center;
}
input#text{
    width: 70%;
}
div ul li p.item{
    border-style: solid;
    border-color: black;
    background-color: cadetblue;
}
.list__items--selected{
    border-style: solid;
    border-color: black;
    background-color: rgb(34, 245, 6);
}
.task__form{
    display: flex;
}